.btn {
    animation: pulse 3s infinite;
    transform-style: preserve-3d; 
    perspective: 500px;
    z-index: 1;
}

@keyframes pulse {
    0%, 100% {
        transform: translateZ(0) scale(1); 
    }
    50% {
        transform: translateZ(20px) scale(1.1); 
    }
}
.front {
    background: url('../../resources/img/bg-app-main.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}