.divCard {
    background: url('../../resources/img/D-Scan-V2.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    transition: all 0.3s ease-in-out;
}
.btn {
    transition: all 0.3s ease-in-out;
}
.btn:hover {
    transform: scale(1.2);
}
.loading {
    background: url('../../resources/gif-video/loading-gif.gif');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    height: 400px;
    width: 400px;
}