.divCard {
    background: url('../../resources/img/D-Scan-V2.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    height: 320px;
    width: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.divCard:hover {
    transform: scale(1.1);
}
.imgCard {
    position: absolute;
    height: 73px;
    width: 73px;
    top: 20.5%;
    left: 24.5%;
    border-radius: 5px;
}
.btn {
    position: absolute;
    bottom: 22.5%;
    left: 27.3%;
    transition: all 0.3s ease-in-out;
}
.btn:hover {
    transform: scale(1.2);
}