.input {
    background-color: rgba(72, 79, 93, 0.548);
}
.btn {
    --color: #000000;
    --background-color: #d8d8d8;
    --border-color: darken(#d8d8d8, 7.5%);
    color: var(--color);
    background-color: var(--background-color);
    padding: 0.4rem 0.8rem;
    border: solid 1px var(--border-color);
    outline: none;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4), 0 -0.3rem 0.6rem rgba(0, 0, 0, 0.2) inset;
    transition: box-shadow 64ms ease-out;
}
.btn:after {
    content: "";
    background-color: #ffffff;
    width: 75%;
    height: 12.5%;
    position: absolute;
    top: 0.15rem;
    left: 12.5%;
    border-radius: 50%;
    filter: blur(0.15rem);
    transition: opacity 64ms ease-out;
}
.btn:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0.4rem 1rem rgba(0, 0, 0, 0.3) inset;
}
.btn:active:after {
    opacity: 0;
}

.btnInfo {
    --color: #ffffff;
    --background-color: #1fb6ff;
    --border-color: #0079c4;
}
.btnInfo:active {
    --color: #ececec;
}

@media (width <= 850px) {
    .btn {
        font-size: 13px;
        padding: 0.2rem 0.4rem;
    }
    .navbar {
        gap: 10px;
        right: 10px;
    }
    .title {
        font-size: 25px;
    }
}

  