.btn {
    --color: #000000;
    --background-color: #d8d8d8;
    --border-color: darken(#d8d8d8, 7.5%);
    color: var(--color);
    background-color: var(--background-color);
    padding: 0.4rem 0.8rem;
    border: solid 1px var(--border-color);
    outline: none;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4), 0 -0.3rem 0.6rem rgba(0, 0, 0, 0.2) inset;
    transition: box-shadow 64ms ease-out;
}
.btn:after {
    content: "";
    background-color: #ffffff;
    width: 75%;
    height: 12.5%;
    position: absolute;
    top: 0.15rem;
    left: 12.5%;
    border-radius: 50%;
    filter: blur(0.15rem);
    transition: opacity 64ms ease-out;
}
.btn:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0.4rem 1rem rgba(0, 0, 0, 0.3) inset;
}
.btn:active:after {
    opacity: 0;
}

.btnInfo {
    --color: #ffffff;
    --background-color: #1fb6ff;
    --border-color: #0079c4;
}
.btnInfo:active {
    --color: #ececec;
}
.input {
    display: block;
    border: none;
    outline: none;
    box-sizing: border-box;
    background: #e6e8e9;
    padding: 2px;
    padding-left: 10px;
    height: 30px;
    font-size: 14px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
.input {
    color: gray
}
.inputP {
    display: block;
    border: none;
    outline: none;
    box-sizing: border-box;
    background: #e6e8e9;
    padding: 2px;
    padding-left: 10px;
    height: 30px;
    font-size: 14px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
.inputP::placeholder {
    color: gray
}
@media (width <= 1920px) {
    .input {
        left: 2.5rem;
    }
}
@media (width <= 1540px) {
    .input {
        left: 0.8rem;
    }
} 
@media (width <=1440px) {
    .divForm {
        width: 85%;
        height: 600px;
    }
    .img1 {
        height: 50px;
    }
    .img2 {
        height: 70px;
    }
    .img3 {
        height: 75px;
        top: 50%;
        right: 20px;
    }
    .img4 {
        height: 60px;
    }
    .label {
        font-size: 12px;
    }
    .inputP, .input {
        font-size: 10px;
    }
    .input {
        width: 135px;
    }
} 
@media (width <= 850px) {
    .images {
        display : none ;
    }
    .form {
        width: 100%;
    }
}